
body{
  background-image: url("../css/img/ondas.jpg"); 
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: ivory;
  opacity: 0.9;


}   

header nav {
  background: url("../css/img/header/bg.jpg");

}
.titulosETextos{
  color: ivory;
  text-align: center;
}

#BemVindo{
    text-align: center;
    margin-top: 10%;
    font-size: 5.2em;
    font-weight: 100;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #585858;
}



#sendButton{
  opacity: 0.8;
  color: ivory;
  font-weight: bold;
}
#sendButton:hover{
  background-color: cornflowerblue;
  color: ivory;
  opacity: 1;
}


footer{    
    text-align: center;
    background: url("../css/img/footer/bg.jpg");
    padding: 15px 0;

}

