
body{
    margin:0;
    color: black;
    font-weight: 100;
  
  }   
  header nav {
    background: url("../css/img/header/bg.jpg");
  }
  .h2 {
    text-align: center;
    color: black;
  }
  main p{
    color: black;
  }
  footer{    
      text-align: center;
      background: url("../css/img/footer/bg.jpg");
      padding: 10px 0;
      color: ivory;
  }